[PLAYBACK]
device "PlaybackThread"
file "${CMAKE_CURRENT_SOURCE_DIR}/yarpdatadumper-teo-rightArm.txt"
timeIdx 1
timeScale 0.000001
mask (0 0 1 1 1 1 1 1 1)

[ROBOT]
device "remote_controlboard"
local "/playback"
remote "/teoSim/rightArm"
